<mat-card class="card animated fadeIn">
  <mat-card-header>
    <div mat-card-avatar class="user"></div>
    <mat-card-title>Acxel Morales</mat-card-title>
    <mat-card-subtitle>Programador y Desarrollador Web</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/fondo.jpg" alt="fondo img">
  <mat-card-content>
    <p>
      Hola, mi nombre es Acxel Morales.
      Soy Técnico en Programación, y un apasionado de la tecnologia.
      Me fascina aprender lenguajes de programación, frameworks o librerias de JavaScript y Java.<br>También eh manejado
      Bases de Datos como MySQL, PostgreSQL, MongoDB y servicios como Firebase.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <i class="fab fa-html5"></i>
    <i class="fab fa-css3-alt"></i>
    <i class="fab fa-js"></i>
    <i class="fab fa-angular"></i>
    <i class="fab fa-node"></i>
    <i class="fab fa-java"></i>
    <i class="fas fa-database"></i>
  </mat-card-actions>
</mat-card>
