<div class="hero animated fadeIn">
  <h1>Diseño y Desarrollo Freelancer</h1>
  <p><i class="fas fa-map-marker-alt"></i> CDMX, México</p>
  <button mat-flat-button color="accent" (click)="openDialog()">Contactar</button>
</div>
<mat-divider></mat-divider>
<div class="grid animated fadeIn">
  <div class="w1">
    <h1>WEB</h1>
  </div>
  <div class="w2">
    <h1>Desarrollo Web</h1>
    <div class="tec">
      <div class="h"><i class="fab fa-html5"></i></div>
      <div class="c"><i class="fab fa-css3-alt"></i></div>
      <div class="j"><i class="fab fa-js-square"></i></div>
    </div>
    <h2>Sitios Web con las Tecnologias más Importantes.</h2>
    <p>La web hoy en día es el sitio mas importante del mundo, y todos tenemos que tener presencia ahí, y la mejor
      alternativa es una web moderna</p>
  </div>
  <div class="j1">
    <h1>JAVA</h1>
  </div>
  <div class="j2">
    <h1>Desarrollo de Software</h1>
    <div class="tec">
      <div class="se"><i class="fab fa-java"></i></div>
      <div class="ee"><i class="far fa-building"></i></div>
    </div>
    <h2>Aplicaciones con la Tencnologia Java.</h2>
    <p>Java es un lenguaje de programación muy poderoso y robusto, ya que podemos hacer aplicaciones de todo tipo y
      escalables.</p>
  </div>
</div>
