<div style="position: relative">
  <app-nav></app-nav>
  <router-outlet></router-outlet>
  <mat-card class="redes" [ngClass]="{'mostrar': !oculto, 'ocultar': oculto}">
    <a class="face" href="https://www.facebook.com/acxel.morales.167" target="_blank">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a class="insta" href="https://www.instagram.com/acxel_morales97" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a class="twit" href="https://twitter.com/acxelmorales97" target="_blank">
      <i class="fab fa-twitter-square"></i>
    </a>
    <a class="git" href="https://github.com/AcxelMorales" target="_blank">
      <i class="fab fa-github-square"></i>
    </a>
  </mat-card>
  <button mat-mini-fab class="btn" *ngIf="oculto" (click)="mostrar()">
    <i class="fas fa-ellipsis-v"></i>
  </button>
  <button mat-mini-fab class="btn" *ngIf="!oculto" (click)="ocultar()">
    <i class="fas fa-times"></i>
  </button>
</div>
