<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="icono">
      <i class="fas fa-code"></i>
    </div>
    <mat-card-title>Contacto</mat-card-title>
    <mat-card-subtitle>Acxel Morales</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item><i class="fas fa-mobile-alt"></i>55-34-07-25-19</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><i class="fas fa-envelope"></i><span>acxelmorales97@gmail.com</span></mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="closeDialog()">Cerrar</button>
  </mat-card-actions>
</mat-card>
